// Modal Custom Style
.modal-content {
	background: $color-3;
	color: $color-5;
	.modal-title {
		color: $color_5;
	}
	.close {
		background: $color_3;
	}
	.modal-header {
		h1 {
			margin-top: 26px;
		}
		.close{
			color: $color-5;
		}
	}
	.modal-body{
		.form-control{
			background-color: $color-1;
			color: $color_5;
			&:focus {
				background-color: $color-1;
			}
		}
	}
}